@font-face {
  font-family: "FbFixar-Black";
  src: url("../fonts/FbFixar-Black.otf") format("opentype"); }

@font-face {
  font-family: "FbFixar-Bold";
  src: url("../fonts/FbFixar-Bold.otf") format("opentype"); }

@font-face {
  font-family: "FbFixar-Regular";
  src: url("../fonts/FbFixar-Regular.otf") format("opentype"); }

html, body {
  margin: 0;
  padding: 0; }

input[type="file"] {
  display: none;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: calc(100vh - 20px);
  background: url(../img/bg.png) center center/cover no-repeat;
  font-family: 'FbFixar-Regular';
  direction: rtl; }

.mt90 {
  margin-top: 90px; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.header_text_mobile {
  display: none; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__text {
    max-width: 450px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 700; }
  .header .logo {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; 
    position: relative;
    z-index: 2;
  }

.content {
  border: 1px solid #222222;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 20px 15px;
  position: relative;
  margin: 20px 0; }
  .content .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .content .row.row-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .content .col1 {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; }
  .content .col2 {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
  .content .logo_rock {
    position: absolute;
    right: 70px;
    top: -140px; }

.info {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .info .item {
    margin: 0 45px;
    font-family: 'FbFixar-Black';
    font-size: 24px;
    color: #060707;
    text-align: center; }
    .info .item span {
      color: #ff1f2b;
      display: block;
      font-weight: 700; }

.nice_title {
  height: 200px;
  margin-top: 40px;
  position: relative;
  background: url(../img/bg_text.png) center center/cover no-repeat;
  font-family: 'FbFixar-Black'; }
  .nice_title .title {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0%;
    text-align: center;
    font-size: 62px;
    color: #fff;
    font-weight: 400;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg); }
  .nice_title .description {
    font-size: 32px;
    color: #060707;
    position: absolute;
    bottom: -25px;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    text-align: center; }

.orange_block_info {
  /*     &:before {
        content: '';        
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;        
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.87);
        transform: rotate(3deg);
    } */
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 30px 10px 0;
  /* background: url(../img/orange_bg.png) center center / contain no-repeat; */
  background: #f47320;
  border: 3px solid #222;
  -webkit-transform: skew(-5deg, 3deg);
  -ms-transform: skew(-5deg, 3deg);
  transform: skew(-5deg, 3deg);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .orange_block_info .title-center {
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    -webkit-transform: skew(5deg, -3deg);
    -ms-transform: skew(5deg, -3deg);
    transform: skew(5deg, -3deg);
    /* margin: auto; */ }
    .orange_block_info .title-center span {
      background-color: #ff1f2b;
      font-size: 34px;
      color: #fff;
      font-weight: 400;
      padding: 4px 10px;
      font-family: 'FbFixar-Black'; }
  .orange_block_info ul {
    padding-right: 40px;
    margin: 0;
    -webkit-transform: skew(5deg, -3deg);
    -ms-transform: skew(5deg, -3deg);
    transform: skew(5deg, -3deg); }
  .orange_block_info li {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0;
    color: #fff;
    list-style-image: url(../img/point.png); }

.flex-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .flex-form .uploads {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-right: 5px; }
  .flex-form .inputs {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%; }
    .flex-form .inputs .row:first-child .input_block {
      margin-top: 0; }
  .flex-form .col50 {
    -webkit-flex-basis: 46%;
    -ms-flex-preferred-size: 46%;
    flex-basis: 46%;
    margin: 0 2%; }
  .flex-form .col100 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .flex-form .cols-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex-form .upload_file {
    cursor: pointer;
    height: 104px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 3px solid #222;
    padding: 10px 8px;
    font-weight: 700;
    text-align: center; }
    .flex-form .upload_file .title {
      font-size: 14px;
      color: #131c25; }
      .flex-form .upload_file .title span {
        color: red; }
      .flex-form .upload_file .title small {
        display: block;
        font-weight: 400; }
    .flex-form .upload_file .icon_file {
      display: block;
      margin: auto auto 0; }

.row.no-flex {
  display: block; }
  .row.no-flex span {
    display: inline-block;
    vertical-align: middle; }

.checkbox-container {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 8px auto 14px; }
  .checkbox-container span:first-child {
    margin-right: 30px;
    color: #ff1f2b;
    font-family: "FbFixar-Black";
    font-size: 16px;
    display: inline-block; }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .checkbox-container input:checked ~ .checkmark {
      background-color: #fff; }
      .checkbox-container input:checked ~ .checkmark:hover {
        background: transparent; }
    .checkbox-container input:checked ~ .checkmark:after {
      display: block; }
  .checkbox-container .checkmark {
    position: absolute;
    top: 4px;
    right: 0;
    height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    border-radius: 3px;
    border: 3px solid #222;
    background-color: #ffffff; }
    .checkbox-container .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 3px;
      height: 7px;
      border: solid #000;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .checkbox-container:hover input ~ .checkmark {
    background-color: #e0e0e0; }

.btn_submit {
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.74);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.74);
  background-color: #03bc07;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  margin: 34px auto 0;
  font-family: 'FbFixar-Regular';
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .btn_submit:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px); }
  .btn_submit:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.input_block {
  position: relative;
  margin: 14px 1%; }
  .input_block input, .input_block textarea {
    display: block;
    padding: 0;
    height: 34px;
    padding: 0 6px;
    border: 3px solid #222;
    background: none;
    font-size: 14px;
    color: #131c25;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .input_block textarea {
    min-height: 80px;
    resize: vertical;
    padding: 6px 4px; }
  .input_block label {
    display: block;
    position: absolute;
    top: 9px;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 9px;
    width: 100%;
    font-size: 14px; }
  .input_block label span {
    color: red; }

.inputs__row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* row 1 */
  /* row 2 */
  /* row 3 */
  /* row 4 */ }
  .inputs__row .input_block:nth-child(1) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .inputs__row .input_block:nth-child(2) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .inputs__row .input_block:nth-child(3) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .inputs__row .input_block:nth-child(4) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .inputs__row .input_block:nth-child(5) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .inputs__row .input_block:nth-child(3) {
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%; }
  .inputs__row .input_block:nth-child(6) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
  .inputs__row .input_block:nth-child(7) {
    -webkit-flex-basis: 21%;
    -ms-flex-preferred-size: 21%;
    flex-basis: 21%; }
  .inputs__row .input_block:nth-child(8) {
    -webkit-flex-basis: 12%;
    -ms-flex-preferred-size: 12%;
    flex-basis: 12%; }
  .inputs__row .input_block:nth-child(9) {
    -webkit-flex-basis: 34%;
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%; }
  .inputs__row .input_block:nth-child(10) {
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%; }
  .inputs__row .input_block:nth-child(11) {
    -webkit-flex-basis: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%; }
  .inputs__row .input_block:nth-child(12) {
    -webkit-flex-basis: 34%;
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%; }
  .inputs__row .input_block:nth-child(13) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

.item-sm {
  -webkit-flex-basis: 120px;
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px; }

.item-bg {
  -webkit-flex-basis: 380px;
  -ms-flex-preferred-size: 380px;
  flex-basis: 380px; }

.has_value + label, .has_value + label span {
  color: transparent; }

.information {
  margin-top: 20px;
  color: #ff1f2b;
  font-size: 20px;
  font-weight: 700;
  text-align: center; }

.footer .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  list-style: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0; }

.footer li {
  margin: 0 10px; }

.footer a {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 28px; }
  .footer a:hover {
    text-decoration: underline; }


    .add_information {
      text-align: justify;
      font-size: 14px;
    }
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/

@media (max-width: 1300px) {
  .container {
    max-width: 1170px; }
  .nice_title {
    height: 170px; }
    .nice_title .title {
      top: 55px;
      font-size: 52px; }
    .nice_title .description {
      bottom: -35px;
      font-size: 30px; }
  .orange_block_info li {
    font-size: 22px; } }

@media (max-width: 1200px) {
  .container {
    max-width: 1000px; }
  .info .item {
    margin: 0 25px; }
  .content .logo_rock {
    right: 20px;
    top: -80px; }
    .content .logo_rock img {
      display: block;
      margin: 0 auto;
      width: 70%; }
  .nice_title {
    height: 150px; }
    .nice_title .title {
      font-size: 42px;
      top: 51px; }
    .nice_title .description {
      font-size: 26px;
      bottom: -25px; }
  .orange_block_info {
    padding: 10px; }
    .orange_block_info li {
      font-size: 18px; }
    .orange_block_info .title-center span {
      font-size: 24px; }
  .btn_submit {
    padding: 10px 9px;
    color: #fff;
    font-size: 17px; }
  .inputs__row {
    /* row 1 */
    /* row 2 */
    /* row 3 */
    /* row 4 */
    /* row 5 */ }
    .inputs__row .input_block:nth-child(1) {
      -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
    .inputs__row .input_block:nth-child(2) {
      -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
    .inputs__row .input_block:nth-child(3) {
      -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
      flex-basis: 15%; }
    .inputs__row .input_block:nth-child(4) {
      -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
    .inputs__row .input_block:nth-child(5) {
      -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
    .inputs__row .input_block:nth-child(6) {
      -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
    .inputs__row .input_block:nth-child(7) {
      -webkit-flex-basis: 32%;
      -ms-flex-preferred-size: 32%;
      flex-basis: 32%; }
    .inputs__row .input_block:nth-child(8) {
      -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }
    .inputs__row .input_block:nth-child(9) {
      -webkit-flex-basis: 74%;
      -ms-flex-preferred-size: 74%;
      flex-basis: 74%; }
    .inputs__row .input_block:nth-child(10) {
      -webkit-flex-basis: 38%;
      -ms-flex-preferred-size: 38%;
      flex-basis: 38%; }
    .inputs__row .input_block:nth-child(11) {
      -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }
    .inputs__row .input_block:nth-child(12) {
      -webkit-flex-basis: 34%;
      -ms-flex-preferred-size: 34%;
      flex-basis: 34%; }
    .inputs__row .input_block:nth-child(13) {
      -webkit-flex-basis: 96%;
      -ms-flex-preferred-size: 96%;
      flex-basis: 96%; }
  .flex-form .upload_file {
    height: 152px;
    padding: 10px 4px; } }

@media (max-width: 1000px) {
  .header {
    padding-left: 20px;
    padding-right: 20px; }
  .info {
    /* flex-direction: column;
        align-items: center;
        max-width: 120px;
        margin-right: auto; */
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .info .item {
      font-size: 20px;
      /* margin: 8px 0; */ }
  .content .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .header__text {
    display: none; }
  .header_text_mobile {
    display: block;
    color: #222;
    font-size: 20px;
    text-align: center;
    font-weight: 700; }
  .nice_title {
    height: 100%;
    width: 100%;
    background-size: contain;
    margin-top: 0; }
    .nice_title .title {
      top: 34px;
      font-size: 30px; }
    .nice_title .description {
      bottom: -25px;
      font-size: 20px; }
  .row .col1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .row .col2 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .mt90 {
    margin-top: 190px; }
  .content .logo_rock img {
    position: relative;
    right: 10px; } }

@media (max-width: 920px) {
  .row2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .row2 .col1, .row2 .col2 {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .orange_block_info {
    max-width: 450px;
    margin-bottom: 50px; } }

.nice_title-mobile {
  display: none; }

@media (max-width: 820px) {
  .info .item {
    margin: 0 10px; }
  .nice_title-desktop {
    display: none; }
  .nice_title-mobile {
    display: block;
    height: 100px;
    width: 60%;
    margin: 0 auto 80px; }
    .nice_title-mobile .title {
      font-size: 28px; }
  .row .nice_title-mobile {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .row .col2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .row .col1 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .mt90 {
    margin-top: 140px; } }

@media (max-width: 740px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .info .item {
      margin: 8px 0; }
  .mt90 {
    margin-top: 20px; }
  .header_text_mobile {
    font-size: 16px; }
  .header .logo img {
    width: 90px; }
  .content .logo_rock img {
    right: -30px;
    top: 23px; } }

@media (max-width: 620px) {
  .nice_title-mobile {
    width: 80%;
    margin: 20px auto 80px; }
  .info {
    float: left;
    margin-left: 20px; }
  .flex-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .flex-form .uploads {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .flex-form .inputs {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .flex-form .upload_file {
      border-width: 2px;
      height: 115px; }
  .input_block input, .input_block textarea {
    border-width: 2px; }
  .header .item:first-child img {
    width: 70%;
    float: left; }
  .cols-wrap {
    margin-bottom: 20px; 
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .btn_submit {
    margin: 10px auto 0;
  }
    .cols-wrap .col50, .cols-wrap .col100 {
      -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
      margin: 0 1%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .btn_submit {
    padding: 10px 20px;
    color: #fff;
    font-size: 24px; }
  .checkbox-container .checkmark {
    border-width: 2px; }
    .checkbox-container .checkmark:after {
      left: 5px;
      top: 2px; } }

@media (max-width: 580px) {
  .row .col1, .row .col2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .row2 .col1, .row2 .col2 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

@media (max-width: 520px) {
  .content .logo_rock img {
    width: 60%;
    right: -90px;
    top: 53px; }
  .input_block input {
    height: 40px; }
  .input_block label {
    top: 12px; }
  .checkbox-container span:first-child {
    margin-right: 0;
    display: block;
    text-align: center; }
  .checkbox-container .checkmark {
    left: 0;
    margin: auto;
    top: -22px; }
  .inputs__row {
    /* row 1 */
    /* row 2 */
    /* row 3 */
    /* row 4 */
    /* row 5 */
    /* row 6 */ }
    .inputs__row .input_block:nth-child(1) {
      -webkit-flex-basis: 38%;
      -ms-flex-preferred-size: 38%;
      flex-basis: 38%; }
    .inputs__row .input_block:nth-child(2) {
      -webkit-flex-basis: 58%;
      -ms-flex-preferred-size: 58%;
      flex-basis: 58%; }
    .inputs__row .input_block:nth-child(3) {
      -webkit-flex-basis: 31%;
      -ms-flex-preferred-size: 31%;
      flex-basis: 31%; }
    .inputs__row .input_block:nth-child(4) {
      -webkit-flex-basis: 31%;
      -ms-flex-preferred-size: 31%;
      flex-basis: 31%; }
    .inputs__row .input_block:nth-child(5) {
      -webkit-flex-basis: 32%;
      -ms-flex-preferred-size: 32%;
      flex-basis: 32%; }
    .inputs__row .input_block:nth-child(6) {
      -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }
    .inputs__row .input_block:nth-child(7) {
      -webkit-flex-basis: 32%;
      -ms-flex-preferred-size: 32%;
      flex-basis: 32%; }
    .inputs__row .input_block:nth-child(8) {
      -webkit-flex-basis: 17%;
      -ms-flex-preferred-size: 17%;
      flex-basis: 17%; }
    .inputs__row .input_block:nth-child(9) {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .inputs__row .input_block:nth-child(10) {
      -webkit-flex-basis: 38%;
      -ms-flex-preferred-size: 38%;
      flex-basis: 38%; }
    .inputs__row .input_block:nth-child(11) {
      -webkit-flex-basis: 22%;
      -ms-flex-preferred-size: 22%;
      flex-basis: 22%; }
    .inputs__row .input_block:nth-child(12) {
      -webkit-flex-basis: 34%;
      -ms-flex-preferred-size: 34%;
      flex-basis: 34%; }
    .inputs__row .input_block:nth-child(13) {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.input_block input:focus + label,
.input_block textarea:focus + label {
  display: none;
}

@media (max-width: 475px) {
  .nice_title-mobile {
    width: 100%; }
  .footer a {
    font-size: 22px; } }

@media (max-width: 400px) {
  .content .logo_rock img {
    top: 80px; } 
  .cols-wrap .col50, .cols-wrap .col100 {
    flex-basis: 46%
  }
}

@media (max-width: 385px) {
  .nice_title-mobile .title {
    font-size: 24px;
    top: 36px; }
  .nice_title-mobile .description {
    bottom: -15px;
    font-size: 16px; }
  .mt90 {
    margin-top: -10px; }
  .footer a {
    font-size: 18px; } }


    .response_wrapper {
      display: block !important;
      position: relative;
    }
    .btn_submit {
      display: block;
    }

    /*******************************/
    /*******************************/
    /*******************************/
    /*******************************/
    /*******************************/
    #callback_answer {
      display: none;
      margin-top: 10px;        
      padding: 10px 15px;
      max-width: 300px;      
      margin-right: 40px;
    }
    @media (max-width: 620px) {
      #callback_answer {
        margin-right: 0;
        margin-top: 20px;
      }      
    }
    .warning {
      background: #ffcece;
      border-right: 4px solid #d84949;
    }
    .success {
      background: #ceffdc;
      border-right: 4px solid #2dae39;
    }
    /******************/
  .spinner {
    position: absolute;
    bottom: -47px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    display: none;
  }
  .spinner.active {
    display: block;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  .filename {
    word-break: break-all;
    margin-top: auto;
  }

  label.error {
    border-color: red !important
  }